html, body {
  margin: 20px;
}

.TextEditor:focus {
  outline: none;
}

.TextEditor .document-section {
  margin-bottom: 16px;
  padding: 16px;
}

.TextEditor .active-section {
  border: 1px solid blue;
}

.TextEditor .document-section:not(.active-section) {
  border: 1px solid gray;
}
